from datetime import datetime

from pydantic import BaseModel, ConfigDict


class {{ class_name }}Base(BaseModel):
    name: str
    description: str | None = None


class {{ class_name }}Create({{ class_name }}Base):
    pass


class {{ class_name }}Update(BaseModel):
    name: str | None = None
    description: str | None = None


class {{ class_name }}Read({{ class_name }}Base):
    id: int
    created_at: datetime
    updated_at: datetime | None = None

    model_config = ConfigDict(from_attributes=True)
